body {
  font-family: "Comfortaa", cursive;

  background-repeat: no-repeat;
  background-size: cover;
}
.bg {
  background-image: url("images/back.jpg");
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.weather-app-wrapper {
  max-width: 500px;
  margin: 85px auto;
}
.weather-app {
  padding: 20px;
  border: 3px solid rgb(255, 255, 255);
  border-radius: 10px;
  background-color: rgba(40, 39, 39, 0.6);
}
h1 {
  font-weight: 500;

  line-height: 28px;
  margin: 28px auto;
  margin-bottom: 13px;
  color: rgb(255, 255, 255);
  font-size: 50px;
}

ul {
  margin: 5px 0;
  padding: 0;
}
li {
  list-style: none;
  color: rgb(255, 255, 255);
  font-size: 15px;
  padding: 10px 0 0 0;
}
li::first-letter {
  text-transform: capitalize;
}
.form-control {
  line-height: 1.5;
}
.btn-primary {
  line-height: 1.5;
}
.description {
  font-size: 13px;
}
.weather-temperature img {
  margin: 10px;
  float: left;
  width: 64px;
}
.last-updated {
  font-size: 15px;
}
.weather-temperature strong {
  color: rgb(255, 255, 255);
  font-size: 64px;
  font-weight: 300;
  line-height: 1;
  padding: 10px;
}
.weather-temperature .units {
  position: relative;
  font-size: 18px;
  top: 9px;
  text-decoration: none;
}

.elements {
  padding: 20px 0 0 0;
}

.weather-temperature .active {
  color: rgb(255, 255, 255);
  cursor: default;
  text-decoration: none;
}

.weather-temperature .active:hover {
  text-decoration: none;
}
.weather-forecast {
  margin-top: 20px;
  text-align: center;
  color: rgb(255, 255, 255);
}

.weather-forecast-date {
  font-size: 16px;
}
.weather-forecast-temperature {
  font-size: 13px;
}
.weather-forecast-temperature-min {
  opacity: 0.5;
}
.weather-forecast-day {
  border: 2px solid #dadde1;
  border-radius: 8px;
  padding: 10px 0;
}
.under-temp {
  text-align: end;
}
hr {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 8px;
  margin: 13px 0;
}
small {
  color: white;
}
a:link {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: pink;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: rgb(31, 77, 137);
  background-color: transparent;
  text-decoration: none;
}
