h1 {
  font-family: "Comfortaa", cursive;
  width: 500;
  text-align: center;
}
ul {
  font-family: "Comfortaa", cursive;
  list-style: none;
}
.day {
  text-align: center;
  display: block;
  padding: 0;
}
.col-6 {
  font-family: "Comfortaa", cursive;
}
